*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Karla', sans-serif;
}

:root{
    --color-primary: #F5F7FB;
    --color-secondary: #293264;
    --color-tertiary: #4D5B9E;
    --color-selected: #D6DBF5;
}

.quiz--app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
}

.welcome{
    color: var(--color-secondary);
    text-align: center;
}

.welcome--title{
    font-size: 3.5rem;
    margin-bottom: 0.8em;
}

.welcome--subtitle{
    font-family: 'Inter', sans-serif;
    margin-bottom: 4em;
    line-height: 19px;
    font-size: 1.2rem;
}

.welcome--btn{
    background: var(--color-tertiary);
    color: var(--color-primary);
    border-radius: 15px;
    padding: 1em 4em;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.blob-yellow{
    position: fixed;
    top: 0;
    right: 0;
}

.blob-blue{
    position: fixed;
    left: 0;
    bottom: 0;
}

.quiz--container{
    max-width: 60%;
    margin: 40px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--color-secondary);
    border-radius: 10px;
    padding-bottom: 30px;
}

.questions{
    /* margin-bottom: 1em; */
    /* max-width: 90%; */
    margin: 2em 3em;
    /* max-w */
}

.question--container{
    /* border: 1px solid purple; */
    padding: 15px 0;
    background: var(--color-primary);
    /* max-width: 70%; */
    margin: 0 auto;
    border-bottom: 1px solid #DBDEF0;
    margin-bottom: 0.5em;
}

.question{
    color: var(--color-secondary);
    margin-bottom: 1em;
    font-size: 1.3rem;
    /* font-weight: 500; */
    /* line-height: 19px; */
}

.option{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding: 5px 20px;
    color: var(--color-secondary);
    background: var(--color-primary);
    border-radius: 8px;
    border: 1px solid var(--color-tertiary);
    margin-bottom: 10px;
    outline: none;
    margin-right: 10px;
    line-height: 12px;
}

.questions--btn{
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    border-radius: 15px;
    padding: 1em 3em;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    text-align: center;
}

.selected{
    background: var(--color-selected);
    border: 1px solid var(--color-selected);
    /* border: none; */
}